body{
    background-color: rgb(219, 211, 160);
    
}
.direccion{
    text-align: justify;
    
    
}
.letra{
    text-align: center;
    font-family: "Playfair Display", serif;
}
.logo{
    display: flex;
    justify-content: end;
    text-align: right;
}
header .two{
    text-align: center;

}
.two h1{
    text-align: center;
    
}
.two img{
    flex-direction: row-reverse;
    padding-left: 1055px;
width: 45px;
display: flex;
justify-content: unset;

}
nav li{
    display: inline;
    padding: 80px;
    font-size: 20px;
  }
  nav a{
    text-decoration: none;
    color: black;
  }
nav a:hover{
    background-color: lightcoral;
      color: black;
      transition: 0.3s;
}
/*Para telefonos o celulares*/
@media (width <= 480px) {
    nav{
        flex-direction: column;
    }
    }
    @media (width <= 768px) {
        nav{
            flex-direction: column;
        }
        }
        @media (width <= 1024px) {
            nav{
                flex-direction: column;
            }
            }
            @media (width <= 1200px) {
                nav{
                    flex-direction: column;
                }
                }