
body{
  background-color: rgb(233, 178, 178);
}
    header h1{
      text-align: left;
      padding: 45px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    header img{
      text-align: center;
      width: 50px;
      display: flex;
      justify-content: space-around;
      padding: 20px;
      border-radius: 10%;
    }
    .icons{
      width: 135px;
      display: flex;
      justify-content: space-around;
      float: right;
      margin-inline-end: 5px;
      padding: 85px;
      padding-block-start :15px; ;
      border-radius: 30%;
    }
    header h1{  
      text-align: left;
      padding: 45px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-block-start: 25px;
    }
    nav li{
      display: inline;
      padding: 80px;
      font-size: 20px;
    }
    nav a{
      text-decoration: none;
      color: rgb(26, 23, 23);
    }
    nav a:hover{
      background-color: rgb(224, 126, 150);
      color: rgb(24, 22, 22);
    }
    .logoo{
        width: 100px;
        border-radius: 35px;
    }
    p{
      text-align: center;
      font-size: 15px;
    line-height: 1.4;
    }
     
    footer{
      background-color: rgb(225, 201, 213);
    }
    footer img{
      width: 20px;
      border-radius: 25%;
    }
    
    section img{
    width: 95%;
    margin-top: 15px;
    border-radius: 25px;

    }
    @media screen {
      (max-width: 800px;){
      .body{width: 100px;}
      aside{width: 100%;
      }
      footer{width: 100%;
      }
    }
    @media screen {
      (max-width: 470px;){
        .body{width: 100px;}
        aside{
          width: 100%;
        }
        footer{width:100%;}
      }
      
    }
     
     