body{
    background-color:#ECAFAF;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAB6B6;
    color: #FAB6B6;
    padding: 35px;
}
nav img{
border-radius: 45%;
}
nav li{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    font-size: 20px;
  }
  nav a{
    text-decoration: none;
    color: black;
  }
  header img {
    padding: 25px;
    display: flex;
    justify-content: flex-end;
  }
  nav a:hover{
    background-color: lightcoral;
    color: black;
    transition: 0.3s;

  }
.logo{
    width: 120px;
    border-radius: 35%;
    display: flex;
}
.carrito{
    width: 50px;
    height: 45px;
}

nav img{
    width: 150px;
}
a{
    text-decoration: none;
}
div{
    background-color: rgb(230, 141, 157);
    background-color: #FAB6B6;
}

.tarjeta{
    display: flex;
    justify-content: center;
}

.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 5px 10px #706262;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card img{
    width: 100%;
}
.card h1{
    text-align: center;
    font-size: 25px;
    color: black;
}

.card h2{
    text-align: center;
    font-size: 20px;

}
.card:hover{
    background-color: #c28585;
    transform: scale(1.05);
}
.footer{
    padding: 25px;
    text-align: center;
    text-decoration: none;
}
.footer a{


    text-decoration: none;
}

.card-content{
    padding: 10px;
}
.icons{
    display: flex;
    justify-content: end;
    padding: 20px;
    width: ;
}
/*Para telefonos o celulares*/
@media (width <= 480px) {
    nav{
        flex-direction: column;
    }
    }
    @media (width <= 768px) {
        nav{
            flex-direction: column;
        }
        }
        @media (width <= 1024px) {
            nav{
                flex-direction: column;
            }
            }
            @media (width <= 1200px) {
                nav{
                    flex-direction: column;
                }
                }